{% extends 'dashboard/base.html' %}

{% block title %}Bytes && Bytes{% endblock %}

{% block content %}

<br>
<h3 style="text-align:center;"><strong>Visualizando dados da Gestão: </strong><i>{{view.nome}}</i></h3>
<br><br>


<div class="offset-1 col-10 cad-div">
    <div class="col-6 m-auto pt-4 pb-2 ">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary"><strong>id_gestao: </strong>{{view.id_gestao}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Nome: </strong>{{view.nome}}</li>
            <li class="list-group-item list-group-item-secondary"> <strong>Data Início: </strong>{{view.dt_inicio}}</li>
            <li class="list-group-item list-group-item-secondary"> <strong>Data Fim: </strong>{{view.dt_fim}}</li>
            <li class="list-group-item list-group-item-secondary"> <strong>Atos: </strong>{{view.atos}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Estatuto: </strong>{{view.estatuto}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Síndico: </strong>{{view.sindico}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Subsíndico: </strong>{{view.subsindico}}</li>
        </ul>
    </div>
</div>
<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/gestao/" class="btn btn-secondary">Voltar</a>
</div>
<br><br>

{% endblock %}