{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastro de Proprietários{% endblock %}

{% block content %}
<br>
<div class="offset-1 col-8 cad-div">
    <h2 style="text-align: center;" ><strong>Cadastro de Proprietários</strong></h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-dark" value="Salvar">
        <a href="/proprietario/" class="btn btn-secondary">Voltar</a>
    </form>
</div>
<br>

{% endblock %}